.button {
    background: $blue; 
    border: none; 
    color: white; 
    display: inline-block; 
    font-weight: 300;
    font-size: $font-size-large; 
    line-height: 1;
    padding: $s-size; 
    text-decoration: none;
}

.button--link {
    background: none; 
}

.button--secondary {
    background: #888; 
}